.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.chat-history {
  background-color: #171717;
  color: white;
}

.main-content{
  height: 100vh;
  background: #212121;
  padding: 70px 70px;
  color: white;
}

.primary-color {
  color: var(--primary-color);
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
--primary-color: #b38201;
--secondary-color: #171717;
--complimentary-color: #88BFB5;
--contrast-color: #F2E527;
--light-color: #D2A9D9;
}

.container {
  background: #4e4e4e;
  min-height: 100vh;
  font-family: Montserrat, sans-serif;
}

.nav, nav a {
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    text-align: center;
}

.menu-icon {
  color: var(--primary-color);
}

nav, .nav {
    margin-top: 64px;
    font-size: 28px;
    position: fixed;
    left: 0;
    z-index: 50;
    display: flex;
    /* justify-content: space-around; */
    flex-direction: column;
    height: 100vh;
    background: var(--secondary-color);
    border-right: 1px solid #454545;
}

section {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 0;
    opacity: 0;
    transition: all ease-in .5s;
    display: flex;
    justify-content: center;
    align-items: center;
} 

section h1 {
    color: #fff;
    font-size: 50px;
    text-transform: uppercase;
    opacity: 0;
}

/* Styles applied on trigger */
section:target {
    opacity: 1;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}

section:target h1 {
    opacity: 0;
    animation: 2s fadeIn forwards .5s;
}

#first {
  background:var(--primary-color);
}

#notfound {
    background: var(--complimentary-color);
}

@keyframes fadeIn {
    100% { opacity:1 }
}

#overlay {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(220,220,220,0.7);
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s ease-in;
  will-change: opacity;
  
  &.show {
    visibility: visible;
    opacity: 1;
  }
}

.top-nav {
  background: rgb(23, 23, 23);
    padding: 6px 7px;
    position: fixed;
    border-left: 1px solid;
    box-shadow: 7px 8px 22px 15px #262626;
}

#hamburger {
  z-index: 10;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 4px;
  right: 8px;
  background-color: #4a463c;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 2px 2px 10px rgba(10,10,10,0.3);
  transition: all 0.2s ease-in-out;
  color: white;
  
  .icon-bar {
    display: block;
    background-color: var(--primary-color);
    width: 22px;
    height: 2px;
    transition: all 0.3s ease-in-out;
    
    + .icon-bar {
      margin-top: 4px;
    }
  }
}

.bottom-menu {
  height: auto;
  position: absolute;
  bottom: 2px;
  margin-left: 6px;
}
/* .nav {
  z-index: 9;
  position: fixed;
  bottom: 10.5%;
  right: 5.5%;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  visibilty: hidden;
  opacity: 0;
  box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.48);
  cursor: pointer;
  transition: all 0.3s ease-in;
} */

.material-icons {
  font-size: 24px;
  color: rgba(0,0,0,0.54);
}

.nav.show {
  visibility: visible;
  opacity: 1;
}

.custom-card {
  width: 200pt;
  min-height: 115px;
    background: #4e4e4e;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #8a8a35;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}